doctype html
html(lang="en")
  head
    title Henkilötietojen käyttöoikeuspyyntö - TKO-äly ry
    link(rel='stylesheet', href='/reset.css')
    link(rel='stylesheet', href='/common.css')
    link(rel='stylesheet', href='/gdpr.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title Henkilötietojen käyttöoikeuspyyntö
      #content
        p <b class='service'>#{serviceDisplayName}</b>-palvelun käyttö edellyttää tämän käyttöoikeuspyynnön hyväksymistä.
        p Palvelu haluaa luvan käyttää alla lueteltuja henkilötietoja.
        #personaldata
          ul
            each info in personalInformation
              li.entry #{info.name}: <b>#{info.value}</b>
        p Sinut uudelleenohjataan hyväksymisen jälkeen osoitteeseen <b>#{redirectTo}</b>
        p Voit lukea rekisteriselosteemme <a href='#' target=_blank>tämän linkin kautta.</a>

      #confirmation
        form(id='formSubmitReject', action='/login_confirm', method='POST')
          input.cancel(type='submit', name='cancel', value='Hylkää')
        form(id='formSubmitAccept', action='/login_confirm', method='POST')
          input(type='hidden', name='permission', value='yes')
          input.accept(type='submit', name='accept', value='Hyväksy')
    include partials/footer.pug