extends layouts/common.pug

block append head
  link(rel='stylesheet', href='/styles/gdpr.css')

block title
  | #{t("gdpr_PersonalDataRequestTitle")}

block content
  p <b class='service'>#{serviceDisplayName}</b>#{t("gdpr_PersonalDataServiceRequires")}
  p #{t("gdpr_PersonalDataFollowingData")}
  #personaldata
    ul
      each info in personalInformation
        li.entry #{info.name}: <b>#{info.value}</b>
    p #{t("gdpr_PersonalDataRedirectMessage")} <b>#{redirectTo}</b>
    p #{t("gdpr_PersonalDataReadPrivacyPolicy")} <a href='https://tko-aly.fi/member_privacy' target=_blank>#{t("gdpr_PersonalDataReadPrivacyPolicyUsingThisLink")}</a>

block confirmation
  form(id='formSubmitReject', action=(submitUrl || '/login_confirm'), method='POST')
    input(type='hidden', name='_csrf', value=csrfToken)
    input.cancel(type='submit', name='cancel', value=t("gdpr_PersonalDataDecline"))
  form(id='formSubmitAccept', action=(submitUrl || '/login_confirm'), method='POST')
    input(type='hidden', name='_csrf', value=csrfToken)
    input(type='hidden', name='permission', value='yes')
    input.accept(type='submit', name='accept', value=t("gdpr_PersonalDataAccept"))
