doctype html
html(lang="en")
  head
    title= "Login to " + service.displayName + " - TKO-äly ry"
    link(rel='stylesheet', href='reset.css')
    link(rel='stylesheet', href='common.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title='Login'
      #content
        if (loggedUser && logoutRedirect)
          h5='You are logged in as ' + loggedUser
          - let link = `/logout?serviceIdentifier=*&redirect=${logoutRedirect}`
          a(href=link fsty)='Destroy session'
        .login-title='Please login to ' + service.displayName
        if errors
          each error in errors
            div.error-message
              span.error-title="Error"
              span.error-text=error
        form#loginForm(action='/login', method='POST')
          .form-group
            label(for='username')="Username"
            - let unameVal = loggedUser || '';
            input.input(required type='text', value=unameVal name='username', id='username' placeholder='Username')
          .form-group
            label(for='password')="Password"
            input.input(required type='password', name='password', id='password' placeholder='Password')
          input(type='hidden', name='serviceIdentifier', value=service.serviceIdentifier)
          input(type='hidden', name='loginRedirect', value=loginRedirect)
          .form-group
            input.input.accept(type='submit', name='accept', value='Login')