extends layouts/common.pug

append head
  //- Redirect to /timeout in 5 minutes
  meta(http-equiv="refresh", content="300;url=/timeout")
  link(rel="stylesheet", href="/styles/termsAndConditions.css")

block title
  | #{ serviceDisplayName } #{ t("privacypolicy_Title") }

block content
  p
    small #{ t("privacypolicy_UpdatedAt") } #{ policyUpdateDate }
  #termsAndConditions #{ policy }
  p.privacyPolicyRedirect #{ t("privacypolicy_YouWillBeRedirected") }
  p.privacyPolicyDeclineMessage #{ t("privacypolicy_IfYouDecline_1") } #{ serviceDisplayName }#{ t("privacypolicy_IfYouDecline_2") }

block confirmation
  form#formSubmitReject(action=submitUrl || "/privacypolicy_confirm", method="POST")
    input(type="hidden", name="_csrf", value=csrfToken)
    input.cancel(type="submit", name="cancel", value=t("privacypolicy_Decline"))
  form#formSubmitAccept(action=submitUrl || "/privacypolicy_confirm", method="POST")
    input(type="hidden", name="accept", value="yes")
    input(type="hidden", name="_csrf", value=csrfToken)
    input.accept(type="submit", name="accept", value=t("privacypolicy_Accept"))
