doctype html
html(lang="en")
  head
    title #{serviceDisplayName} -palvelun tietosuojaseloste - TKO-äly ry
    link(rel='stylesheet', href='reset.css')
    link(rel='stylesheet', href='common.css')
    link(rel='stylesheet', href='termsAndConditions.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title #{serviceDisplayName} -palvelun tietosuojaseloste
      #content
        p
          small Tietosuojaseloste on päivitetty viimeksi #{policyUpdateDate}
        #termsAndConditions #{policy}
        p Sinut ohjataan hyväksymisen jälkeen eteenpäin.
        p Jos hylkäät #{serviceDisplayName} -palvelun tietosuojaselosteen mukaisen henkilötietojen käyttämisen, et voi käyttää palvelua. Voit kuitenkin palata hyväksymään henkilötietojen käyttämisen myöhemmin.
      #confirmation
        form(id='formSubmitReject', action='/privacypolicy_confirm', method='POST')
          input.cancel(type='submit', name='cancel', value='Hylkää')
        form(id='formSubmitAccept', action='/privacypolicy_confirm', method='POST')
          input(type='hidden', name='accept', value='yes')
          input.accept(type='submit', name='accept', value='Hyväksy')
    include partials/footer.pug