doctype html
html(lang="en")
  head
    title #{serviceDisplayName} #{t("privacypolicy_Title")} - TKO-äly ry
    link(rel='stylesheet', href='reset.css')
    link(rel='stylesheet', href='common.css')
    link(rel='stylesheet', href='termsAndConditions.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title #{serviceDisplayName} #{t("privacypolicy_Title")}
      #content
        p
          small #{t("privacypolicy_UpdatedAt")} #{policyUpdateDate}
        #termsAndConditions #{policy}
        p.privacyPolicyRedirect #{t("privacypolicy_YouWillBeRedirected")}
        p.privacyPolicyDeclineMessage #{t("privacypolicy_IfYouDecline_1")} #{serviceDisplayName}#{t("privacypolicy_IfYouDecline_2")}
      #confirmation
        form(id='formSubmitReject', action='/privacypolicy_confirm', method='POST')
          input.cancel(type='submit', name='cancel', value=t("privacypolicy_Decline"))
        form(id='formSubmitAccept', action='/privacypolicy_confirm', method='POST')
          input(type='hidden', name='accept', value='yes')
          input.accept(type='submit', name='accept', value=t("privacypolicy_Accept"))
    include partials/footer.pug