extends layouts/common.pug

append head
  //- Redirect to /timeout in 5 minutes
  meta(http-equiv="refresh", content="300;url=/timeout")

block content
  form#loginForm(action=submitUrl || "/reset-password", method="POST")
    input(type="hidden", name="method", value=method)
    input(type="hidden", name="_csrf", value=csrfToken)
    if (method === "username")
      p #{ t("resetPassword_usernameInputMessage") }
      .form-group
        label.usernameLabel(for="username") #{ t("resetPassword_usernameLabel") }
        input#username.input(
          required,
          type="text",
          name="username",
          placeholder=t("resetPassword_usernamePlaceholder")
        )
    else if (method === "email")
      p #{ t("resetPassword_emailInputMessage") }
      .form-group
        label.emailLabel(for="email") #{ t("resetPassword_emailLabel") }
        input#email.input(required, type="email", name="email", placeholder=t("resetPassword_emailPlaceholder"))
    .form-group
      button.button.accept(type="submit") #{ t("resetPassword_resetPassword") }
