doctype html
html(lang="en")
  head
    title #{t("resetPassword_resetPassword")} - TKO-äly ry
    link(rel='stylesheet', href='/styles/reset.css')
    link(rel='stylesheet', href='/styles/common.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title #{t("resetPassword_resetPassword")}
      #content
        if errors
          each error in errors
            div.error-message
              span.error-text=error
        form#loginForm(action=(submitUrl || '/reset-password'), method='POST')
          p #{t("resetPassword_formMessage")}
            input(type='hidden' name='user' value=user)
            input(type='hidden' name='hash' value=hash)
            input(type='hidden' name='nonce' value=nonce)
            input(type='hidden' name='expires' value=expires)
            input(type='hidden' name='signature' value=signature)
            .form-group
              label(for='password1', class='password1Label') #{t("resetPassword_password1Label")}
              input.input(required type='text' name='password1' id='password1' placeholder=t("resetPassword_password1Placeholder"))
            .form-group
              label(for='password2', class='password2Label') #{t("resetPassword_password2Label")}
              input.input(required type='text' name='password2' id='password2' placeholder=t("resetPassword_password2Placeholder"))
          .form-group
            button.button.accept(type='submit') #{t("resetPassword_changePassword")}
    include partials/footer.pug
