extends layouts/common.pug

block content
  if errors
    each error in errors
      div.error-message
        span.error-text=error
  form#loginForm(action=(submitUrl || '/reset-password'), method='POST')
    input(type='hidden' name='method' value=method)
    if (method === "username")
      p #{t("resetPassword_usernameInputMessage")}
      .form-group
        label(for='username', class='usernameLabel') #{t("resetPassword_usernameLabel")}
        input.input(required type='text' name='username' id='username' placeholder=t("resetPassword_usernamePlaceholder"))
    else if (method === "email")
      p #{t("resetPassword_emailInputMessage")}
      .form-group
        label(for='email', class='emailLabel') #{t("resetPassword_emailLabel")}
        input.input(required type='email' name='email' id='email' placeholder=t("resetPassword_emailPlaceholder"))
    .form-group
      button.button.accept(type='submit') #{t("resetPassword_resetPassword")}
