doctype html
html(lang="en")
  head
    title #{t("resetPassword_resetPassword")} - TKO-äly ry
    link(rel='stylesheet', href='/styles/reset.css')
    link(rel='stylesheet', href='/styles/common.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title #{t("resetPassword_resetPassword")}
      #content
        if errors
          each error in errors
            div.error-message
              span.error-text=error
        form#loginForm(action=(submitUrl || '/reset-password'), method='GET')
          p #{t("resetPassword_choiceMessage")}
          .form-group
            button.button.accept(type='submit', name='method', value='username') #{t("resetPassword_useUsername")}
            button.button.accept(type='submit', name='method', value='email') #{t("resetPassword_useEmail")}
    include partials/footer.pug
