extends layouts/common.pug

append head
  //- Redirect to /timeout in 5 minutes
  meta(http-equiv="refresh", content="300;url=/timeout")

block content
  form#loginForm(action=submitUrl || "/reset-password", method="POST")
    p #{ t("resetPassword_formMessage") }
      input(type="hidden", name="user", value=user)
      input(type="hidden", name="hash", value=hash)
      input(type="hidden", name="nonce", value=nonce)
      input(type="hidden", name="expires", value=expires)
      input(type="hidden", name="signature", value=signature)
      input(type="hidden", name="_csrf", value=csrfToken)
      .form-group
        label.password1Label(for="password1") #{ t("resetPassword_password1Label") }
        input#password1.input(
          required,
          type="password",
          name="password1",
          placeholder=t("resetPassword_password1Placeholder")
        )
      .form-group
        label.password2Label(for="password2") #{ t("resetPassword_password2Label") }
        input#password2.input(
          required,
          type="password",
          name="password2",
          placeholder=t("resetPassword_password2Placeholder")
        )
    .form-group
      button.button.accept(type="submit") #{ t("resetPassword_changePassword") }
